/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("{{ url_for('static', filename='images/cabinet.jpeg') }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
    font-weight: 600;
}

h1 {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(52, 152, 219, 0.8);
    color: white;
    margin: 0;
}

p {
    margin-bottom: 0.5rem;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    max-width: 800px;
    width: 100%;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

button:active {
    background-color: #2471A3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transform: translateY(0);
}

#actions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid layout for buttons */
    gap: 15px; /* Gap between buttons */
    padding: 1rem;
    justify-items: center; /* Center items within grid cells */
}

.info-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info-box h2 {
    color: #3498db; /* For diversification */
}

/* Override for next vaccine */
#vaccine-info .info-box h2 {
    color: #e74c3c;
}

.info-box p {
    line-height: 1.6;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    body {
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        width: 100%;
    }

    .container {
        border-radius: 0;
    }

    #actions {
        grid-template-columns: 1fr; /* Single column layout for mobile */
    }
}