<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Enfant - Mon Pédiatre Lite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <div class="container">
        <h1>Ajouter un Enfant</h1>
        <form action="{{ url_for('add_child') }}" method="post">
            <div>
                <label for="childInitials">Initiales de l'enfant :</label>
                <input type="text" id="childInitials" name="child_initials" placeholder="Ex: JM" required>
            </div>
            <div>
                <label for="birthDatePicker">Date de naissance de l'enfant :</label>
                <input type="text" id="birthDatePicker" name="birth_date" placeholder="Sélectionnez la date de naissance" required>
            </div>
            <button type="submit" class="btn">Ajouter l'enfant</button>
        </form>
        <button onclick="window.location.href='/index'" class="btn">Retour</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#birthDatePicker", {
            dateFormat: "d/m/Y",
            maxDate: "today",
            placeholder: "Sélectionnez la date de naissance",
            locale: {
                firstDayOfWeek: 1,
                weekdays: {
                    shorthand: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    longhand: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                },
                months: {
                    shorthand: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Déc'],
                    longhand: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                },
            }
        });
    </script>
</body>
</html>