<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Vos autres éléments head ici -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        #vaccine-schedule img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Calendrier Vaccinal Tunisien</h1>
        <div id="vaccine-schedule">
            <img src="{{ url_for('static', filename='images/cv2022.jpg') }}" alt="Calendrier vaccinal">
        </div>
        <button onclick="window.location.href='/index'" class="btn">Retour</button>
    </div>
</body>
</html>